
html, body {
  padding: 0 0 0 0;
  margin: 0;
  font-family: 'Didact Gothic', sans-serif;
  background-color: #000;
  color:#ffffff;
}

header > img {
    float:left;
    width:150px;
    margin-left:20px;
}

a {
  color: #ffffff;
}

.header {
  background: #000;
  color: #ffffff;
  padding: 30px 30px 30px;
  clear: left;
}

ul {
        font-family: 'Didact Gothic', sans-serif;
        list-style-type: none;
        margin-right: 100px;
        padding: 0;
        overflow: hidden;
    }
    
li {
        float: right;
        font-size:24px;
    }

li a {
        display:inline-block;
        color:#ffffff;
        text-align: center;
        padding: 16px;
        text-decoration: none;
        font-size:24px;
        margin-bottom: 10px;
    }

    li a:hover {
        color: #ff0000;
    }

  .assignment {
  font-size: 12px;
  line-height: 24px;
  font-family: 'Didact Gothic', sans-serif;
  padding: 20px 20px 20px 0px;
  width: 400px;
  height: 350px;
  float: left;
  
}

.assignment a {
    color: #ffffff;
    text-decoration: none;
}

.assignment a:hover {
  background: #F06;
  color: #F06;
  text-decoration: none;
}

 div.p {
        padding: 20px;
        text-align: left;
        font-size: 24px;
    }

  
    
    h1 {
        clear:left;
        font-size: 48px;
        margin-left: 40px;   
    }

    h2 {
        font-size: 36px;
        clear: left;
        margin-left: 40px;
    }

.footer {
    width: 1100px;
    float: left;
    padding: 300px 0px 30px 30px;
}

.widebody {
    width: 800px;
    padding: 0px 30px 30px 30px;
}

.widebody a {
}

.widebody a:hover {
  background: #000;
  color: #FFFFFF;
  text-decoration: none;
}

   



